
<div class="col-10 col-lg-8">
  <div class="experience-entry-heading">
      <h5>{{ $.name }}</h5>
  </div>
  <!-- Add company overview -->
  <p>{{ .summary | markdownify }}</p>
  <!-- Add the responsibilities handled at this position -->
  {{ if .downloads }}
    <h6>Downloads</h6>
    <ul class="project-downloads-holder">
      {{ if .downloads.windows }}
          <li class="">
            <a href=" {{ .downloads.windows }}">Windows</a>
          </li>
      {{ end }}
      {{ if .downloads.mac }}
          <li class="">
            <a href=" {{ .downloads.mac }}">macOS</a>
          </li>
      {{ end }}
    </ul>
  {{ end }}
</div>
